<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetInfo</title>
</head>
<body>
    <div style="line-height: 30px;"> 
        @using (Html.BeginForm("ByDistance", "DistanceAsRoof", FormMethod.Post))
        {
            <div>
                <input type="text" placeholder="Route...(AB or bd)" name="Start" size="20" autocomplete="off">
            </div>
            <div>
                <input type="text" name="RoofDistance" size="20" autocomplete="off"> Distance<br />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        }
    </div>
</body>
</html>
