<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />

</head>
<body >
    
    <div class="Container">
        <div class="Header">Hello</div>
            <div class="Row">
                <div class="Sidebar">
                    <h2>hello</h2>                  

                </div>
                <div class="Mainbody">
                    <h3>hi</h3>
                </div>

            </div>
      
    </div>
    @*<table border="1" align="center" style="width:80%;font-family:Arial;height:500px">
        <tr>
            <td colspan="2" style="text-align:center" height="20%">
                <h1>Kiwiland Railway</h1>
            </td>
        </tr>
        <tr>
            <td height="60%" style="width:40%;text-align:center">
                @Html.ActionLink("Route Length", "GetInfo", "ShowRouteLength")<br />
            </td>
            <td style="width:60%;text-align:center">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center" height="20%">
                Footer
            </td>
        </tr>
    </table>*@
</body>
</html>
